.flex-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center-div{
  display:flex;
  align-items: center;
  justify-content: center;
}
body {
  background-repeat: repeat;
  background: url("./background/crossword.png");
}

.menu-icon {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 200;
  border-radius: 10%;
  padding: 0.25rem;
  margin-left: 0.5rem;
}

.main-container {
  padding: 1rem;
}

.image-grid {
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  max-width: 850px;
}

.main-container {
  padding: 1rem;
  display: flex;
  justify-content: center;

  .image-tile {
    height: fit-content !important;
    height: -moz-fit-content !important;
    width: fit-content;
    width: -moz-fit-content;
    list-style-type: none;
  }
}

.img-tile {
  height: max-content !important;

  img {
    top: 0;
    transform: translateY(0%);
    left: 0;
    width: 100%;
  }
}

.text-body {
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.top-spacing {
  margin-top: 2rem;
}

.image-dialog {
  padding-right: 0 !important;

  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    margin: auto;
    background-color: transparent;
    /*display: flex;
    align-items: center;
    flex-direction: unset;
    flex-flow: unset;
    justify-content: center;*/

  }

  > div > div {
    background-color: transparent;
    width: 90%;

    margin: 0;
  }

  .carousel {
    .slide img {
      width: auto;
      vertical-align: top;
      border: 0;
      max-height: calc(100vh - 6rem);
      max-width: 100%;
    }

    .slider-wrapper {
      width: 100%;
    }
  }
}

.cursor {
  cursor: pointer;
}